.h1{
    font-size: medium;
    color: aqua;
}

.h2{

    margin-top: auto;
    padding-top: 0ch;
}

.h3{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

